<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>IC1SdnSp9W5ti6NrgojSJMHK9LQXMe3X</string>
	<key>Domain</key>
	<string>dev-y50rk8k58uxx3mqs.us.auth0.com</string>
</dict>
</plist>
