# Xcode
xcuserdata
*.xcscmblueprint
*.xccheckout
*.xcuserstate
*.xcodeproj/*         # ただし、プロジェクト設定ファイル（project.pbxproj や xcshareddata）は除外しないように例外指定
!.xcodeproj/project.pbxproj
!.xcodeproj/xcshareddata/
*.xcworkspace/*        # 同様に、ワークスペース設定のうち共有部分は除外しないように例外指定
!.xcworkspace/contents.xcworkspacedata
